* {
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;

}




p{
    font-family: verdana;
    font-size: 14px;
    text-align:left;

}
h3{
    color:rgba(255, 0, 150, 0.5);
}

thead {
    color:rgba(255, 0, 150, 0.5);
    border: 10px dashed green;
}